name: ci

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    name: Code build, lint and tests
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: make init